body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1300px;

    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(201, 0, 0);
        align-items: center;

        &__links {
            width: 680px;
            list-style: none;
        }

        &__elem {
            align-items: center;

            img {
                margin-right: 100px;
            }

            a,
            span {
                color: rgb(0, 0, 0);
                font-family: 'Circe';
                text-decoration: none;
            }
        }

        &__brand {
            display: flex;
            text-decoration: none;
            list-style: none;
            text-transform: uppercase;
            color: rgb(236, 27, 46);
            width: 217px;
            height: 40px;
            line-height: 140%;
            font-family: 'Circe Bold';
        }

        &__link {
            list-style: none;
        }

        &__button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: rgb(119, 0, 231);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(171, 42, 53);
            }
        }
    }

    .submenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__link {
            list-style: none;
            text-decoration: none;
            color: rgb(0, 0, 0);
            margin-left: 20px;
            font-family: 'Circe Bold';
            text-transform: uppercase;
            font-size: 14px;

            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
        }
    }
}

.button {
    font-family: 'Circe Bold';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 42px;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 27, 46);
    transition: all .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(171, 42, 53);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(51, 51, 51);
        align-items: center;

        &__links {
            display: flex;
            justify-content: space-between;
            width: 680px;
            list-style: none;
        }

        &__elem {
            display: flex;
            align-items: center;

            img {
                margin-right: 20px;
            }

            a,
            span {
                color: rgb(0, 0, 0);
                font-family: 'Circe';
                text-decoration: none;
            }
        }

        &__link {
            list-style: none;
        }

        &__brand {
            display: flex;
            text-decoration: none;
            list-style: none;
            text-transform: uppercase;
            color: rgb(236, 27, 46);
            width: 260px;
            line-height: 140%;
            height: 40px;
            font-family: 'Circe Bold';
        }

        &__button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: rgb(255, 255, 255);
            background-color: rgb(237, 29, 46);
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(153, 41, 50);
            }
        }
    }
}

.submenu {
    /*  display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; */

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__link {
        list-style: none;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin-left: 20px;
        font-family: 'Circe Bold';
        text-transform: uppercase;
        font-size: 14px;

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    }
}

.slider {
    width: 1920px;
    background-image: url("./images/back.png");
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        align-items: start;
    }

    h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'Circe ExtraBold';
        color: rgb(255, 255, 255);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: rgba(75, 74, 74, 0.637);
        width: 540px;
        line-height: 140%;
    }
}

.button {
    font-family: 'Circe Bold';
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 27, 46);
    transition: all .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(179, 35, 47);
    }
}

.school {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 580px;

    .container {
        display: flex;
        padding-top: 150px;
    }

    .container__Text {
        position: relative;
        border: 10px solid rgb(236, 27, 46);
        margin-right: 150px;
        font-style: normal;
        width: 640px;
        height: 405px;

        .borderHead {
            position: absolute;
            top: 0;
            left: 30%;
            right: 20%;

            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;

            transform: translateX(-30%) translateY(-10px);
            line-height: 15px;
            font-family: 'Circe ExtraBold';
            font-size: 48px;
            font-weight: 800;
            color: rgb(51, 51, 51);
            background: rgb(255, 255, 255);
            width: 400px;
        }

        p {
            width: 458px;
            height: 243px;
            padding-top: 86px;
            padding-bottom: 76px;
            padding-left: 90px;
            padding-right: 90px;
            line-height: 130%;
            font-family: 'Circe';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgb(51, 51, 51);
        }
    }
}

.kurs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 150px;
    width: 1300px;

    &__stoimost {
        display: flex;
        color: rgb(51, 51, 51);
        position: relative;
        text-align: center;

        h1 {
            display: flex;
            justify-content: center;
            font-family: 'Circe ExtraBold';
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 140%;
            padding-left: 280px;
            width: 634px;
            height: 67px;
        }
    }

    &__knopki {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        .button1 {
            font-family: 'Circe Bold';
            font-size: 16px;
            text-align: center;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            width: 135px;
            height: 44px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 100px;
            margin-left: 30px;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(124, 33, 41);
            }
        }
    }

    &__points {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding-top: 55px;

        .Spanish {
            width: 306px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: baseline;
            width: 306px;
            height: 68px;

            h2 {
                font-family: 'Circe ExtraBold';
                color: rgb(236, 27, 46);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                width: 200px;
                height: 68px;
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        .for_adults {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 306px;
            height: 68px;

            h2 {
                font-family: 'Circe ExtraBold';
                color: rgb(51, 51, 51);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
                width: 200px;
                height: 68px;
            }
        }

        .Individual {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 306px;
            height: 68px;

            h2 {
                font-family: 'Circe ExtraBold';
                color: rgb(51, 51, 51);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
                width: 290px;
                height: 68px;
            }
        }

        .Preparation {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe ExtraBold';
                color: rgb(51, 51, 51);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
                position: relative;
                width: 306px;
                height: 68px;
            }
        }
    }
}

.table {
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    border-spacing: 0px;
    width: 1000px;

    &__training {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(51, 51, 51);
        background: rgba(51, 51, 51, 0.05);
        padding-top: 10px;
        padding-bottom: 10px;

        .Groups {
            width: 180px;
            height: 48px;
        }

        .Intensity {
            width: 300px;
            height: 48px;
        }

        .Cost {
            width: 596px;
            height: 48px;
        }
    }

    &__stroka1 {
        h3 {
            font-family: 'Circe Bold';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgb(51, 51, 51);
            padding-top: 10px;
            padding-bottom: 10px;

            span {
                width: 80px;
                height: 30px;
                padding: 5px 5px 5px 5px;
                background: rgb(236, 27, 46);
                color: rgb(255, 255, 255);
            }
        }

    }

    &__stroka2 {
        h3 {
            font-family: 'Circe Bold';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgb(51, 51, 51);
            padding-top: 10px;
            padding-bottom: 10px;

            span {
                width: 80px;
                height: 30px;
                padding: 5px 5px 5px 5px;
                background: rgb(236, 27, 46);
                color: rgb(255, 255, 255);
            }
        }
    }

    &__stroka3 {
        h3 {
            font-family: 'Circe Bold';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgb(51, 51, 51);
            padding-top: 10px;
            padding-bottom: 10px;

            span {
                width: 80px;
                height: 30px;
                padding: 5px 5px 5px 5px;
                background: rgb(236, 27, 46);
                color: rgb(255, 255, 255);
            }
        }
    }

    &__stroka4 {
        h3 {
            font-family: 'Circe Bold';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgb(51, 51, 51);
            padding-top: 10px;
            padding-bottom: 10px;

            span {
                width: 80px;
                height: 30px;
                padding: 5px 5px 5px 5px;
                background: rgb(236, 27, 46);
                color: rgb(255, 255, 255);
            }
        }
    }
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1300px;
    position: relative;
    text-align: center;
    padding-top: 100px;
    font-family: 'Circe ExtraBold';
    font-weight: 800;
    font-style: normal;

    h1 {
        display: flex;
        justify-content: center;
        line-height: 140%;
        padding-left: 530px;
        width: 222px;
        height: 67px;
        font-size: 48px;
        color: rgb(51, 51, 51);
    }
}

.exam {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding-top: 50px;

    &__Massa {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            width: 266px;
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
            text-align: center;
        }

        li {
            width: 266px;
            font-family: 'Circe';
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 200px;
            margin-right: 200px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 50px;
            line-height: 50px;

            &:hover {
                background-color: rgb(156, 45, 54);
            }
        }
    }

    &__Erat {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            width: 266px;
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
            text-align: center;
        }

        li {
            width: 266px;
            font-family: 'Circe';
        }

        .button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 200px;
            margin-right: 200px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 50px;
            line-height: 50px;

            &:hover {
                background-color: rgb(171, 42, 53);
            }
        }
    }

    &__Libero {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            width: 266px;
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
            text-align: center;
        }

        li {
            width: 266px;
            font-family: 'Circe';
        }

        .button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 200px;
            margin-right: 200px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 50px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }

    &__Laoreet {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            width: 266px;
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
            text-align: center;
        }

        li {
            width: 266px;
            font-family: 'Circe';
        }

        .button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 200px;
            margin-right: 200px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 50px;
            line-height: 50px;

            &:hover {
                background-color: rgb(143, 37, 46);
            }
        }
    }
}


.event {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    padding-top: 50px;

    &__Sed {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 416px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 30px;
            font-weight: 400;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }

    &__Magna {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 416px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 30px;
            font-weight: 400;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }

    &__Id {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 416px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 30px;
            font-weight: 400;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(171, 42, 53);
            }
        }
    }
}

.name2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1300px;
    position: relative;
    text-align: center;
    padding-top: 100px;
    font-family: 'Circe ExtraBold';
    font-weight: 800;
    font-style: normal;

    h1 {
        display: flex;
        justify-content: center;
        line-height: 140%;
        padding-left: 530px;
        width: 348px;
        height: 67px;
        font-size: 48px;
        color: rgb(51, 51, 51);
    }
}

.neww {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1300px;
    padding-top: 50px;
    align-items: baseline;

    &__Eu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 35px;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }

    &__Semper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 35px;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }

    &__Sed {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 35px;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }

    &__Morbi {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 306px;

        h2 {
            font-family: 'Circe Bold';
            color: rgb(36, 34, 34);
            font-weight: 700;
            font-size: 24px;
            margin-top: 0px;
        }

        p {
            font-family: 'Circe';
            padding-bottom: 85px;
        }

        .button {
            flex: 1 1 auto;
            font-family: 'Circe';
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 100px;
            margin-right: 260px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;
            height: 40px;
            line-height: 50px;

            &:hover {
                background-color: rgb(145, 35, 44);
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1920px;
    height: 588px;
    background-color: rgba(51, 51, 51, 0.05);
    margin-top: 60px;

    &__section11 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
        height: 400px;
        align-items: baseline;
        margin-left: 312px;
        padding-top: 30px;

        .one {
            width: 217px;
            height: 217px;

            .ispan {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;

                h1 {
                    font-size: 14px;
                }
            }

            .punkt {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                text-align: center;
                padding-top: 24px;

                &__j {
                    width: 14px;
                    height: 18px;
                }

                span {
                    width: 123px;
                    height: 20px;
                    font-size: 14px;
                    margin-left: 25px;
                }
            }

            .telefon {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                text-align: center;
                padding-top: 24px;

                &__p {
                    width: 20px;
                    height: 20px;
                }

                span {
                    width: 109px;
                    height: 20px;
                    font-size: 14px;
                    margin-left: 23px;
                }
            }

            .pochta {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                text-align: center;
                padding-top: 24px;

                &__g {
                    width: 18px;
                    height: 15px;
                }

                span {
                    width: 153px;
                    height: 20px;
                    font-size: 14px;
                    margin-left: 23px;
                }
            }

            .icon {
                display: flex;
                line-height: 100%;
                position: relative;
                padding-top: 50px;
                justify-content: space-around;

                .vk {
                    width: 30px;
                    height: 17px;
                }

                .yt {
                    width: 30px;
                    height: 20px;
                }

                .tg {
                    width: 25px;
                    height: 20px;
                }

                .sms {
                    width: 25px;
                    height: 22px;
                }
            }
        }

        .two {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .about_us {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;

                h1 {
                    font-size: 20px;
                    width: 51px;
                    height: 28px;
                }
            }

            .intelligence {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .Structure {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Documents {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Education {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .standards {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Guide {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .provision {
                width: 200px;
                height: 60px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Wednesday {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }

        .three {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .Schedule {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;

                h1 {
                    font-size: 20px;
                    width: 185px;
                    height: 28px;
                }
            }

            .classes {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .Courses_and_cost {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .works {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Training {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 30px;

                h1 {
                    font-size: 20px;
                    width: 159px;
                    height: 28px;
                }
            }

            .Scholarship {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Linguistic {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Decoration {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }

        .four {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .Exams {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;

                h1 {
                    font-size: 20px;
                    width: 90px;
                    height: 28px;
                }
            }

            .MSK {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .OPT {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .YSV {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .NNB {
                width: 200px;
                height: 20px;
                padding-top: 15px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .online {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .full_time {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Exam_schedule {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }

        .five {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .School2 {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;

                h1 {
                    font-size: 20px;
                    width: 61px;
                    height: 28px;
                }
            }

            .News {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .Events {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Photo_Gallery {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Contacts {
                width: 200px;
                height: 20px;
                padding-top: 15px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .Reviews {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }
    }

    &__section22 {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        height: 50;
        align-content: center;
        align-items: flex-start;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 312px;

        .line {
            width: 1300px;
            font-family: 'Circe';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: rgba(51, 51, 51, 0.5);
            border-top: solid 1px rgba(51, 51, 51, 0.5);
        }
    }
}