body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {

    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(71, 71, 71);
        align-items: center;

        &__links {
            width: 680px;
            list-style: none;
        }

        &__elem {
            align-items: center;

            img {
                margin-right: 20px;
            }

            a,
            span {
                color: rgb(0, 0, 0);
                font-family: 'Circe';
                text-decoration: none;
            }
        }

        &__link {
            list-style: none;
        }

        &__brand {
            display: flex;
            text-decoration: none;
            list-style: none;
            text-transform: uppercase;
            color: rgb(236, 27, 46);
            width: 260px;
            line-height: 140%;
            height: 40px;
            font-family: 'Circe Bold';
        }

        &__button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(171, 42, 53);
            }
        }
    }

    .submenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__link {
            list-style: none;
            text-decoration: none;
            color: rgb(0, 0, 0);
            margin-left: 20px;
            font-family: 'Circe Bold';
            text-transform: uppercase;
            font-size: 14px;

            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
        }
    }
}

.button {
    font-family: 'Circe Bold';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 42px;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 27, 46);
    transition: all .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(171, 42, 53);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(51, 51, 51);
        align-items: center;

        &__links {
            display: flex;
            justify-content: space-between;
            width: 680px;
            list-style: none;
        }

        &__elem {
            display: flex;
            align-items: center;

            img {
                margin-right: 20px;
            }

            a,
            span {
                color: rgb(0, 0, 0);
                font-family: 'Circe';
                text-decoration: none;
            }
        }

        &__link {
            list-style: none;
        }

        &__brand {
            display: flex;
            text-decoration: none;
            list-style: none;
            text-transform: uppercase;
            color: rgb(236, 27, 46);
            width: 260px;
            line-height: 140%;
            height: 40px;
            font-family: 'Circe Bold';
        }

        &__button {
            font-family: 'Circe Bold';
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: rgb(255, 255, 255);
            background-color: rgb(237, 29, 46);
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(153, 41, 50);
            }
        }
    }
}

.submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__link {
        list-style: none;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin-left: 20px;
        font-family: 'Circe Bold';
        text-transform: uppercase;
        font-size: 14px;

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    }
}

.slider {
    width: 1920px;
    background-image: url("./images/back.png");
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'Circe ExtraBold';
        color: rgb(255, 255, 255);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 100px;
        background-color: rgba(75, 74, 74, 0.637);
        width: 540px;
        line-height: 140%;
    }

    .container {
        margin-right: 700px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

.button {
    font-family: 'Circe Bold';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 42px;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 27, 46);
    transition: all .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(179, 35, 47);
    }
}

.school {
    display: flex;
    justify-content: space-between;

    .container {
        display: flex;
        padding-top: 150px;
        margin-left: 810px;
    }

    .container__Text {
        position: relative;
        border: 10px solid rgb(236, 27, 46);
        /*Позволяет установить толщину, цвет и стиль границ вокруг объекта.*/
        margin: 35px 30px 20px;
        font-style: normal;

        .borderHead {
            position: absolute;
            top: 0;
            left: 40%;
            right: 30%;
            padding: 10px 30px 10px 30px;
            transform: translateX(-50%) translateY(-15px);
            line-height: 15px;
            font-family: 'Circe Bold';
            font-size: 48px;
            font-weight: 800;
            color: rgb(51, 51, 51);
            background: rgb(255, 255, 255);
        }

        p {
            width: 458px;
            height: 243px;
            padding: 86px 90px 76px 90px;
            line-height: 130%;
            font-family: 'Circe';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgb(51, 51, 51);
        }
    }
}

.kurs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 150px;

    &__st {
        display: flex;
        color: rgb(32, 31, 31);
        position: relative;
        text-align: center;

        h1 {
            display: flex;
            justify-content: center;
            font-family: 'Circe Bold';
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 140%;
            padding-left: 643px;
            width: 634px;
            height: 67px;
        }
    }

    &__bbut {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-top: 27px;

        .button1 {
            font-family: 'Circe Bold';
            font-size: 16px;
            text-align: center;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            width: 135px;
            height: 44px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 82px;
            margin-left: 82px;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(124, 33, 41);
            }
        }

        .button2 {
            font-family: 'Circe Bold';
            font-size: 16px;
            text-align: center;
            color: rgb(255, 255, 255);
            background-color: rgb(236, 27, 46);
            width: 135px;
            height: 44px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 82px;
            margin-left: 82px;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: rgb(124, 33, 41);
            }
        }
    }

    &__sim {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding-top: 55px;
        margin-left: 312px;

        .ljl {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(236, 27, 46);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        .vmv {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        .opo {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        .dsd {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-left: 24px;
                padding-right: 24px;
            }
        }
    }
}

.table {
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    border-spacing: 0px;

    &__thead {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(32, 31, 31);
        background: rgba(51, 51, 51, 0.05);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__stroka1 {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(32, 31, 31);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__stroka2 {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(32, 31, 31);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__stroka3 {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(32, 31, 31);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__stroka4 {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgb(32, 31, 31);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .buttonn {
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        padding: 5px 5px;
        margin-top: 35px;
        margin-bottom: 15px;
        color: rgb(255, 255, 255);
        background-color: rgb(236, 27, 46);
        transition: all .3s;
        cursor: pointer;
        width: 84px;
        height: 33px;
        line-height: 37px;

        &:hover {
            background-color: rgb(143, 37, 46);
        }
    }
}

.name {
    display: flex;
    font-family: 'Circe Bold';
    font-style: normal;
    color: rgb(32, 31, 31);
    position: relative;
    text-align: center;
    padding-top: 200px;

    h1 {
        font-family: 'Circe Bold';
        font-weight: 800;
        padding-left: 849px;
        width: 222px;
        height: 67px;
        font-size: 48px;
    }
}

.exam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

    .blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 312px;

        &__Massa {
            display: flex;
            flex: 1 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
            }

            li {
                font-family: 'Circe';
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 200px;
                margin-right: 200px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 50px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(156, 45, 54);
                }
            }
        }

        &__Erat {
            display: flex;
            flex: 2 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
            }

            li {
                font-family: 'Circe';
            }

            .button {
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 200px;
                margin-right: 200px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 50px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(171, 42, 53);
                }
            }
        }

        &__Libero {
            display: flex;
            flex: 3 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
            }

            li {
                font-family: 'Circe';
            }

            .button {
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 200px;
                margin-right: 200px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 50px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }

        &__Laoreet {
            display: flex;
            flex: 4 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                text-align: center;
            }

            li {
                font-family: 'Circe';
            }

            .button {
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 200px;
                margin-right: 200px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 50px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(143, 37, 46);
                }
            }
        }
    }
}

.nam {
    display: flex;
    font-family: 'Circe Bold';
    font-style: normal;
    color: rgb(32, 31, 31);
    position: relative;
    text-align: center;
    padding-top: 200px;

    h1 {
        padding-left: 808px;
        width: 305px;
        height: 67px;
        font-size: 48px;
        font-weight: 800;
    }
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

    .blockss {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 312px;

        &__Sed {
            display: flex;
            flex: 1 300px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 30px;
                font-weight: 400;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }

        &__Magna {
            display: flex;
            flex: 2 300px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 30px;
                font-weight: 400;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }

        &__Id {
            display: flex;
            flex: 3 300px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 30px;
                font-weight: 400;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(171, 42, 53);
                }
            }
        }
    }
}

.ndn {
    display: flex;
    font-family: 'Circe Bold';
    font-style: normal;
    color: rgb(32, 31, 31);
    position: relative;
    text-align: center;
    padding-top: 200px;

    h1 {
        padding-left: 786px;
        width: 348px;
        height: 67px;
        font-size: 48px;
        font-weight: 800;
    }
}

.neww {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

    .block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 312px;

        &__Eu {
            display: flex;
            flex: 1 300px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 35px;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }

        &__Semper {
            display: flex;
            flex: 2 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 35px;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }

        &__Sed {
            display: flex;
            flex: 3 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 35px;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }

        &__Morbi {
            display: flex;
            justify-content: flex-start;
            flex: 4 200px;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: center;
            align-items: center;

            h2 {
                font-family: 'Circe Bold';
                color: rgb(36, 34, 34);
                font-weight: 700;
                font-size: 24px;
                margin-top:0px ;
            }

            p {
                font-family: 'Circe';
                padding-bottom: 65px;
            }

            .button {
                flex: 1 1 auto;
                font-family: 'Circe';
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 260px;
                color: rgb(255, 255, 255);
                background-color: rgb(236, 27, 46);
                transition: all .3s;
                cursor: pointer;
                height: 40px;
                line-height: 50px;

                &:hover {
                    background-color: rgb(145, 35, 44);
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(51, 51, 51, 0.05);
    margin-top: 120px;
    align-items: flex-start;

    .section11 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__one {
            width: 217px;
            height: 217px;
            margin-left: 312px;

            .ispan {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 60px;

                h1 {
                    font-size: 14px;
                }
            }

            .pun {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                text-align: center;
                padding-top: 24px;

                &__j {
                    width: 14px;
                    height: 18px;
                }

                span {
                    width: 123px;
                    height: 20px;
                    font-size: 14px;
                    margin-left: 25px;
                }
            }

            .tel {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                text-align: center;
                padding-top: 24px;

                &__p {
                    width: 20px;
                    height: 20px;
                }

                span {
                    width: 109px;
                    height: 20px;
                    font-size: 14px;
                    margin-left: 23px;
                }
            }

            .poch {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                color: rgb(51, 51, 51);
                position: relative;
                text-align: center;
                padding-top: 24px;

                &__g {
                    width: 18px;
                    height: 15px;
                }

                span {
                    width: 153px;
                    height: 20px;
                    font-size: 14px;
                    margin-left: 23px;
                }
            }

            .icon {
                display: flex;
                line-height: 100%;
                position: relative;
                padding-top: 50px;
                justify-content: space-around;

                .od {
                    width: 30px;
                    height: 17px;
                }

                .dv {
                    width: 30px;
                    height: 20px;
                }

                .tr {
                    width: 25px;
                    height: 20px;
                }

                .ch {
                    width: 25px;
                    height: 22px;
                }
            }
        }

        &__two {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .nas {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 60px;

                h1 {
                    font-size: 20px;
                    width: 51px;
                    height: 28px;
                }
            }

            .pp {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .oo {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .mm {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ooo {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .gg {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ii {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .tt {
                width: 200px;
                height: 60px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ee {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }

        &__three {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .ras {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 60px;

                h1 {
                    font-size: 20px;
                    width: 185px;
                    height: 28px;
                }
            }

            .rr {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .kk {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ss {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .oby {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 40px;

                h1 {
                    font-size: 20px;
                    width: 159px;
                    height: 28px;
                }
            }

            .hh {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ll {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ww {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }

        &__four {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .sas {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 60px;

                h1 {
                    font-size: 20px;
                    width: 90px;
                    height: 28px;
                }
            }

            .ab {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .bc {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .cd {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ded {
                width: 200px;
                height: 20px;
                padding-top: 15px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .ef {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .fg {
                width: 200px;
                height: 40px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .xx {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }

        &__five {
            width: 200px;
            height: 398px;
            padding-left: 73px;

            .shs {
                display: flex;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                color: rgb(51, 51, 51);
                position: relative;
                padding-top: 60px;

                h1 {
                    font-size: 20px;
                    width: 61px;
                    height: 28px;
                }
            }

            .mama {
                width: 200px;
                height: 20px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                padding-top: 25px;
                margin: 0%
            }

            .papa {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .deda {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .baba {
                width: 200px;
                height: 20px;
                padding-top: 15px;
                font-size: 14px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }

            .cat {
                width: 200px;
                height: 20px;
                font-size: 14px;
                padding-top: 15px;
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                margin: 0%
            }
        }
    }

    .section22 {
        align-content: center;

        .lavitaa {
            display: flex;
            flex-direction: column;
            flex-flow: column;
            padding-bottom: 50px;
            width: 70%;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-left: 312px;

            .line {
                font-family: 'Circe';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: rgb(51, 51, 51);
            }
        }
    }
}