@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(71, 71, 71);
  align-items: center;
}
.container .menu__links {
  width: 680px;
  list-style: none;
}
.container .menu__elem {
  align-items: center;
}
.container .menu__elem img {
  margin-right: 20px;
}
.container .menu__elem a,
.container .menu__elem span {
  color: rgb(0, 0, 0);
  font-family: "Circe";
  text-decoration: none;
}
.container .menu__link {
  list-style: none;
}
.container .menu__brand {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: rgb(236, 27, 46);
  width: 260px;
  line-height: 140%;
  height: 40px;
  font-family: "Circe Bold";
}
.container .menu__button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
}
.container .menu__button:hover {
  background-color: rgb(171, 42, 53);
}
.container .submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .submenu__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .submenu__link {
  list-style: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  font-family: "Circe Bold";
  text-transform: uppercase;
  font-size: 14px;
}
.container .submenu__link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 42px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(171, 42, 53);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container .menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(51, 51, 51);
  align-items: center;
}
.container .menu__links {
  display: flex;
  justify-content: space-between;
  width: 680px;
  list-style: none;
}
.container .menu__elem {
  display: flex;
  align-items: center;
}
.container .menu__elem img {
  margin-right: 20px;
}
.container .menu__elem a,
.container .menu__elem span {
  color: rgb(0, 0, 0);
  font-family: "Circe";
  text-decoration: none;
}
.container .menu__link {
  list-style: none;
}
.container .menu__brand {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: rgb(236, 27, 46);
  width: 260px;
  line-height: 140%;
  height: 40px;
  font-family: "Circe Bold";
}
.container .menu__button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(237, 29, 46);
  transition: all 0.3s;
  cursor: pointer;
}
.container .menu__button:hover {
  background-color: rgb(153, 41, 50);
}

.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.submenu__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submenu__link {
  list-style: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  font-family: "Circe Bold";
  text-transform: uppercase;
  font-size: 14px;
}
.submenu__link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.slider {
  width: 1920px;
  background-image: url("./images/back.png");
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Circe ExtraBold";
  color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 100px;
  background-color: rgba(75, 74, 74, 0.637);
  width: 540px;
  line-height: 140%;
}
.slider .container {
  margin-right: 700px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 42px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(179, 35, 47);
}

.school {
  display: flex;
  justify-content: space-between;
}
.school .container {
  display: flex;
  padding-top: 150px;
  margin-left: 810px;
}
.school .container__Text {
  position: relative;
  border: 10px solid rgb(236, 27, 46);
  /*Позволяет установить толщину, цвет и стиль границ вокруг объекта.*/
  margin: 35px 30px 20px;
  font-style: normal;
}
.school .container__Text .borderHead {
  position: absolute;
  top: 0;
  left: 40%;
  right: 30%;
  padding: 10px 30px 10px 30px;
  transform: translateX(-50%) translateY(-15px);
  line-height: 15px;
  font-family: "Circe Bold";
  font-size: 48px;
  font-weight: 800;
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
}
.school .container__Text p {
  width: 458px;
  height: 243px;
  padding: 86px 90px 76px 90px;
  line-height: 130%;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.kurs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 150px;
}
.kurs__st {
  display: flex;
  color: rgb(32, 31, 31);
  position: relative;
  text-align: center;
}
.kurs__st h1 {
  display: flex;
  justify-content: center;
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  padding-left: 643px;
  width: 634px;
  height: 67px;
}
.kurs__bbut {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 27px;
}
.kurs__bbut .button1 {
  font-family: "Circe Bold";
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  width: 135px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 82px;
  margin-left: 82px;
  transition: all 0.3s;
  cursor: pointer;
}
.kurs__bbut .button1:hover {
  background-color: rgb(124, 33, 41);
}
.kurs__bbut .button2 {
  font-family: "Circe Bold";
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  width: 135px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 82px;
  margin-left: 82px;
  transition: all 0.3s;
  cursor: pointer;
}
.kurs__bbut .button2:hover {
  background-color: rgb(124, 33, 41);
}
.kurs__sim {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-top: 55px;
  margin-left: 312px;
}
.kurs__sim .ljl {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.kurs__sim .ljl h2 {
  font-family: "Circe Bold";
  color: rgb(236, 27, 46);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.kurs__sim .vmv {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.kurs__sim .vmv h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.kurs__sim .opo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.kurs__sim .opo h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}
.kurs__sim .dsd {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.kurs__sim .dsd h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}

.table {
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  border-spacing: 0px;
}
.table__thead {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(32, 31, 31);
  background: rgba(51, 51, 51, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
}
.table__stroka1 {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(32, 31, 31);
  padding-top: 10px;
  padding-bottom: 10px;
}
.table__stroka2 {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(32, 31, 31);
  padding-top: 10px;
  padding-bottom: 10px;
}
.table__stroka3 {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(32, 31, 31);
  padding-top: 10px;
  padding-bottom: 10px;
}
.table__stroka4 {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(32, 31, 31);
  padding-top: 10px;
  padding-bottom: 10px;
}
.table .buttonn {
  font-family: "Circe Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 5px 5px;
  margin-top: 35px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  width: 84px;
  height: 33px;
  line-height: 37px;
}
.table .buttonn:hover {
  background-color: rgb(143, 37, 46);
}

.name {
  display: flex;
  font-family: "Circe Bold";
  font-style: normal;
  color: rgb(32, 31, 31);
  position: relative;
  text-align: center;
  padding-top: 200px;
}
.name h1 {
  font-family: "Circe Bold";
  font-weight: 800;
  padding-left: 849px;
  width: 222px;
  height: 67px;
  font-size: 48px;
}

.exam {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.exam .blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 312px;
}
.exam .blocks__Massa {
  display: flex;
  flex: 1 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.exam .blocks__Massa h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.exam .blocks__Massa li {
  font-family: "Circe";
}
.exam .blocks__Massa .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.exam .blocks__Massa .button:hover {
  background-color: rgb(156, 45, 54);
}
.exam .blocks__Erat {
  display: flex;
  flex: 2 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.exam .blocks__Erat h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.exam .blocks__Erat li {
  font-family: "Circe";
}
.exam .blocks__Erat .button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.exam .blocks__Erat .button:hover {
  background-color: rgb(171, 42, 53);
}
.exam .blocks__Libero {
  display: flex;
  flex: 3 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.exam .blocks__Libero h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.exam .blocks__Libero li {
  font-family: "Circe";
}
.exam .blocks__Libero .button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.exam .blocks__Libero .button:hover {
  background-color: rgb(145, 35, 44);
}
.exam .blocks__Laoreet {
  display: flex;
  flex: 4 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.exam .blocks__Laoreet h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.exam .blocks__Laoreet li {
  font-family: "Circe";
}
.exam .blocks__Laoreet .button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.exam .blocks__Laoreet .button:hover {
  background-color: rgb(143, 37, 46);
}

.nam {
  display: flex;
  font-family: "Circe Bold";
  font-style: normal;
  color: rgb(32, 31, 31);
  position: relative;
  text-align: center;
  padding-top: 200px;
}
.nam h1 {
  padding-left: 808px;
  width: 305px;
  height: 67px;
  font-size: 48px;
  font-weight: 800;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.event .blockss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 312px;
}
.event .blockss__Sed {
  display: flex;
  flex: 1 300px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.event .blockss__Sed h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
}
.event .blockss__Sed p {
  font-family: "Circe";
  padding-bottom: 30px;
  font-weight: 400;
}
.event .blockss__Sed .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.event .blockss__Sed .button:hover {
  background-color: rgb(145, 35, 44);
}
.event .blockss__Magna {
  display: flex;
  flex: 2 300px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.event .blockss__Magna h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
}
.event .blockss__Magna p {
  font-family: "Circe";
  padding-bottom: 30px;
  font-weight: 400;
}
.event .blockss__Magna .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.event .blockss__Magna .button:hover {
  background-color: rgb(145, 35, 44);
}
.event .blockss__Id {
  display: flex;
  flex: 3 300px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.event .blockss__Id h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
}
.event .blockss__Id p {
  font-family: "Circe";
  padding-bottom: 30px;
  font-weight: 400;
}
.event .blockss__Id .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.event .blockss__Id .button:hover {
  background-color: rgb(171, 42, 53);
}

.ndn {
  display: flex;
  font-family: "Circe Bold";
  font-style: normal;
  color: rgb(32, 31, 31);
  position: relative;
  text-align: center;
  padding-top: 200px;
}
.ndn h1 {
  padding-left: 786px;
  width: 348px;
  height: 67px;
  font-size: 48px;
  font-weight: 800;
}

.neww {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.neww .block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 312px;
}
.neww .block__Eu {
  display: flex;
  flex: 1 300px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.neww .block__Eu h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
}
.neww .block__Eu p {
  font-family: "Circe";
  padding-bottom: 35px;
}
.neww .block__Eu .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.neww .block__Eu .button:hover {
  background-color: rgb(145, 35, 44);
}
.neww .block__Semper {
  display: flex;
  flex: 2 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.neww .block__Semper h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
}
.neww .block__Semper p {
  font-family: "Circe";
  padding-bottom: 35px;
}
.neww .block__Semper .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.neww .block__Semper .button:hover {
  background-color: rgb(145, 35, 44);
}
.neww .block__Sed {
  display: flex;
  flex: 3 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.neww .block__Sed h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
}
.neww .block__Sed p {
  font-family: "Circe";
  padding-bottom: 35px;
}
.neww .block__Sed .button {
  flex: 1 1 auto;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.neww .block__Sed .button:hover {
  background-color: rgb(145, 35, 44);
}
.neww .block__Morbi {
  display: flex;
  justify-content: flex-start;
  flex: 4 200px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.neww .block__Morbi h2 {
  font-family: "Circe Bold";
  color: rgb(36, 34, 34);
  font-weight: 700;
  font-size: 24px;
  margin-top: 0px;
}
.neww .block__Morbi p {
  font-family: "Circe";
  padding-bottom: 65px;
}
.neww .block__Morbi .button {
  flex: 1 1 auto;
  font-family: "Circe";
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 260px;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 27, 46);
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  line-height: 50px;
}
.neww .block__Morbi .button:hover {
  background-color: rgb(145, 35, 44);
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(51, 51, 51, 0.05);
  margin-top: 120px;
  align-items: flex-start;
}
.footer .section11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer .section11__one {
  width: 217px;
  height: 217px;
  margin-left: 312px;
}
.footer .section11__one .ispan {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: rgb(51, 51, 51);
  position: relative;
  padding-top: 60px;
}
.footer .section11__one .ispan h1 {
  font-size: 14px;
}
.footer .section11__one .pun {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: rgb(51, 51, 51);
  position: relative;
  text-align: center;
  padding-top: 24px;
}
.footer .section11__one .pun__j {
  width: 14px;
  height: 18px;
}
.footer .section11__one .pun span {
  width: 123px;
  height: 20px;
  font-size: 14px;
  margin-left: 25px;
}
.footer .section11__one .tel {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: rgb(51, 51, 51);
  position: relative;
  text-align: center;
  padding-top: 24px;
}
.footer .section11__one .tel__p {
  width: 20px;
  height: 20px;
}
.footer .section11__one .tel span {
  width: 109px;
  height: 20px;
  font-size: 14px;
  margin-left: 23px;
}
.footer .section11__one .poch {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: rgb(51, 51, 51);
  position: relative;
  text-align: center;
  padding-top: 24px;
}
.footer .section11__one .poch__g {
  width: 18px;
  height: 15px;
}
.footer .section11__one .poch span {
  width: 153px;
  height: 20px;
  font-size: 14px;
  margin-left: 23px;
}
.footer .section11__one .icon {
  display: flex;
  line-height: 100%;
  position: relative;
  padding-top: 50px;
  justify-content: space-around;
}
.footer .section11__one .icon .od {
  width: 30px;
  height: 17px;
}
.footer .section11__one .icon .dv {
  width: 30px;
  height: 20px;
}
.footer .section11__one .icon .tr {
  width: 25px;
  height: 20px;
}
.footer .section11__one .icon .ch {
  width: 25px;
  height: 22px;
}
.footer .section11__two {
  width: 200px;
  height: 398px;
  padding-left: 73px;
}
.footer .section11__two .nas {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  color: rgb(51, 51, 51);
  position: relative;
  padding-top: 60px;
}
.footer .section11__two .nas h1 {
  font-size: 20px;
  width: 51px;
  height: 28px;
}
.footer .section11__two .pp {
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  padding-top: 25px;
  margin: 0%;
}
.footer .section11__two .oo {
  width: 200px;
  height: 40px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__two .mm {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__two .ooo {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__two .gg {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__two .ii {
  width: 200px;
  height: 40px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__two .tt {
  width: 200px;
  height: 60px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__two .ee {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__three {
  width: 200px;
  height: 398px;
  padding-left: 73px;
}
.footer .section11__three .ras {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  color: rgb(51, 51, 51);
  position: relative;
  padding-top: 60px;
}
.footer .section11__three .ras h1 {
  font-size: 20px;
  width: 185px;
  height: 28px;
}
.footer .section11__three .rr {
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  padding-top: 25px;
  margin: 0%;
}
.footer .section11__three .kk {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__three .ss {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__three .oby {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  color: rgb(51, 51, 51);
  position: relative;
  padding-top: 40px;
}
.footer .section11__three .oby h1 {
  font-size: 20px;
  width: 159px;
  height: 28px;
}
.footer .section11__three .hh {
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__three .ll {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__three .ww {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__four {
  width: 200px;
  height: 398px;
  padding-left: 73px;
}
.footer .section11__four .sas {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  color: rgb(51, 51, 51);
  position: relative;
  padding-top: 60px;
}
.footer .section11__four .sas h1 {
  font-size: 20px;
  width: 90px;
  height: 28px;
}
.footer .section11__four .ab {
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  padding-top: 25px;
  margin: 0%;
}
.footer .section11__four .bc {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__four .cd {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__four .ded {
  width: 200px;
  height: 20px;
  padding-top: 15px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__four .ef {
  width: 200px;
  height: 40px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__four .fg {
  width: 200px;
  height: 40px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__four .xx {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__five {
  width: 200px;
  height: 398px;
  padding-left: 73px;
}
.footer .section11__five .shs {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  color: rgb(51, 51, 51);
  position: relative;
  padding-top: 60px;
}
.footer .section11__five .shs h1 {
  font-size: 20px;
  width: 61px;
  height: 28px;
}
.footer .section11__five .mama {
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  padding-top: 25px;
  margin: 0%;
}
.footer .section11__five .papa {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__five .deda {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__five .baba {
  width: 200px;
  height: 20px;
  padding-top: 15px;
  font-size: 14px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section11__five .cat {
  width: 200px;
  height: 20px;
  font-size: 14px;
  padding-top: 15px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
}
.footer .section22 {
  align-content: center;
}
.footer .section22 .lavitaa {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding-bottom: 50px;
  width: 70%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 312px;
}
.footer .section22 .lavitaa .line {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgb(51, 51, 51);
}/*# sourceMappingURL=style.css.map */